.wrap{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg");
        background-repeat: no-repeat;
        background-size: 1200px;
        background-position: right top;
        @media (max-width:768px){
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg");
            background-size: 400px;
            background-position: left 50% top 15% ;
        }
        @media (max-width:576px){
            background-size: 300px;
            background-position: left 50% top 7%;
        }
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    @media (max-width:768px) {
        max-width: 100%;
        padding: 0;
    }
}
.header{
    width: 100%;
    padding-top: 24px;
    padding-bottom: 30px;
    display: flex;
    justify-content:space-between ;
    img{
        width: 218px;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 40px;
        font: normal normal normal 16px/24px Noto Sans TC;
        color: #FFFFFF;
        background: #FF5D50 0% 0% no-repeat padding-box;
        border-radius: 22px;
        &:hover{
            background: blue;
            color: yellow;
        }
    }
    @media (max-width:768px){
        justify-content:space-evenly ;
        margin-bottom: 32px;
        border-bottom: 2px solid #FFD153;
        img{
            width: 30%;
        }
    }
    @media (max-width:576px){
        img {
            width: 50%;
        }

    }
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    height: 100vh;
    .content-left{
        display: flex;
        flex-direction:column;
        justify-content: center;
        h3 {
        font: normal normal bold 18px/26px Noto Sans TC;
        color: #56C4C5;
        }
        h2{
        padding-top: 8px;
        padding-bottom: 16px;
        font: normal normal bold 48px/70px Noto Sans TC;
        color: #221E1F;
        }
        p{
        font: normal normal normal 20px/29px Noto Sans TC;
        color: #221E1F;
        }
    }
    img{
        width: 532px;
        height: 534px;
    }
    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        img{
            max-width: 50%;
        }
    }
    @media (max-width:576px){
        .content-left{
            padding-left: 20px;
            h2{
                font: normal normal bold 32px/46px Noto Sans TC;
            }
            p{
                font: normal normal normal 16px/24px Noto Sans TC;
            }
        }
    }
}

.content-community{
    padding-bottom: 100px;
    h2{
        text-align: center;
        font: normal normal bold 32px/46px Noto Sans TC;
        padding-bottom: 48px;
        color: #221E1F;
    }
    ul{
        display: flex;
        justify-content:space-around ;
        flex-wrap: wrap;
        margin-right: -8px;
        margin-left: -8px;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;
            padding-left: 8px;
            padding-right: 8px;
            img{
                width: 90px;
                height: 90px;
            }
            h3{
                text-align: center;
                font: normal normal bold 24px/35px Noto Sans TC;
                padding-top: 24px;
                padding-bottom: 24px;
                color: #221E1F;
            }
            p{
                text-align: center;
                font: normal normal normal 16px/24px Noto Sans TC;
                color: #747474;
            }
        }
    }
    @media(max-width:768px) {
        ul{
        li {
            h3 {
                font: normal normal bold 18px/26px Noto Sans TC;
            }
            
        p {
            text-align: start;
            }
        }
    }
    }
            
    @media(max-width:576px) {
        max-width: 100%;
        ul {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            li{
                padding-bottom: 24px;
                h3{
                    width: 184px;
                }
                p{
                    width: 240px;
                    text-align: center;
                }
            }
        }
    }
}
.content-card-head{
    padding-bottom: 100px;
    h2{
        text-align: center;
        font: normal normal bold 32px/46px Noto Sans TC;
        padding-bottom: 16px;
        color: #221E1F;
    }
    h3{
        text-align: center;
        font: normal normal normal 20px/29px Noto Sans TC;
        padding-bottom: 48px;
        color: #221E1F;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        margin-right: -8px;
        margin-left: -8px;
        li{
            width: 25%;
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 24px;
            box-shadow: 0px 2px 10px #00000014;
        img{
            border-radius: 12px 12px 0px 0px;
        }
        h4{
            text-align: center;
            font: normal normal bold 16px/24px Noto Sans TC;
            color: #56C4C5;
        }
        p{
            text-align: center;
            font: normal normal normal 16px/24px Noto Sans TC;
            color: #221E1F;
            padding-bottom: 24px;
        }
        }

        @media(max-width:768px) {
            max-width: 100%;
            padding-left: 16px;
            li {
                width: 50%;
            }
        }
        @media(max-width:576px){
            max-width: 100%;
            li{
                width: 100%;
        }
        }
    }
}
.content-card-body{
    display: flex;
    flex-direction: row-reverse;
    max-width: 992px;
    @media (max-width:768px) {
        justify-content: center;
        flex-wrap: wrap;

    }
    .content-card-body-left{
        padding-bottom: 100px;
        .left-img{
            width: 86px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 50%;
            text-align: center;
            padding: 15px;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            margin-right: -48px;
            margin-bottom: -28px;
            padding-top: -32px;
            padding-left: -32px;
            li{
                display: flex;
                flex-direction: column;
                width: 28%;
                padding-top: 32px;
                padding-left: 32px;
                margin-right: 48px;
                margin-bottom: 28px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                box-shadow: 0px 2px 10px #00000014;
                border-radius: 12px;
                h3{
                    padding-top: 24px;
                    padding-bottom: 16px;
                    font: normal normal bold 18px/26px Noto Sans TC;
                    color: #221E1F;
                }
                p{
                    padding-bottom: 48px;
                    font: normal normal normal 16px/24px Noto Sans TC;
                    color: #221E1F;
                }
            }
        @media (max-width:768px){
            max-width: 100%;
            justify-content: center;
            align-items: center;
            
        }
        @media(max-width:576px) {
            li {
            width: 50%;
            }
        }
        }
    }
    .content-card-body-right{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            color: #221E1F;
            font: normal normal bold 32px/46px Noto Sans TC;
            padding-bottom: 16px;
        }
        p{
            font: normal normal normal 18px/26px Noto Sans TC;
            color: #221E1F;
            padding-bottom: 24px;
        }
        a{
            width: 136px;
            text-align: center;
            color: #FFFFFF;
            background: #56C4C5 0% 0% no-repeat padding-box;
            border: 1px solid #56C4C5;
            border-radius: 27px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        @media (max-width:768px){
            display: flex;
            a{
                margin-bottom: 20px;
            }
        }
        @media (max-width:576px){
            align-items: center;
            p{
                text-align: center;
            }
        }
    }

}
.content-footer {
    position: relative;
    margin-bottom: 100px;
    h2{
        padding-bottom: 104px;
        text-align: center;
        font: normal normal bold 32px/46px Noto Sans TC;
        color: #221E1F;
    }
    ul {
        display: flex;
        li {
            width: 352px;
            margin-right: 16px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            p{
                width: 352px;
                padding-top: 48px;
                padding-bottom: 24px;
                padding-left: 32px;
                padding-right: 32px;
                border-bottom: 1px solid #DDDDDD;
            }
            img {
                position: absolute;
                top: 90px;
                border-radius: 50%;
                width: 80px;
                height: 80px;
            }
            .user{
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 32px;
                h4{
                    padding-top: 24px;
                    padding-bottom: 8px;
                    font: normal normal bold 16px/24px Noto Sans TC;
                    color: #221E1F;
                }
                p{
                    text-align:left;
                    padding: 0;
                    padding-bottom: 24px;
                    border-bottom: 0px;
                }
                .star {
                    position: absolute;
                    top:-60px;
                    left: 200px;
                    width: 16px;
                    height: 16px;
                    li{
                        margin-right: 25px;
                    }
                }
            }
        }
    }
    .pagination{
        display: flex;
        justify-content: center;
        padding-top: 24px;
        li{
            width: 10px;
            height: 10px;
            background: #DDDDDD 0% 0% no-repeat padding-box;
            border-radius: 50px;
        }
        .yel{
            width: 16px;
            height: 10px;
            background: #FFD153 0% 0% no-repeat padding-box;
        }
    }
    @media (max-width:768px){
        ul{
            justify-content: center;
            .info3 {
            display: none;
            }
        }
    }
    @media (max-width:576px){
        ul{
            .info2{
                display: none;
            }
        }
    }
}
.footer-banner{
    position: relative;
    margin-bottom: 100px;
    .img-bg{
        width: 100%;
        z-index: -1;
        padding-bottom: 100px;
        }
    .img-sg{
        display: none;
        padding-bottom: 100px;
    }
    @media (max-width:768px){
        .img-bg{
            display: none;
        }
        .img-sg{
            display: block;
            width: 100%;
            z-index: -1;
        }
    }
    .footer-info{
        position: absolute;
        top: 350px;
        left: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            text-align: center;
            font: normal normal bold 32px/46px Noto Sans TC;
            color: #221E1F;
            margin-bottom: 60px;
            }
        a{
            padding: 12px 32px 12px 32px;
            background: #56C4C5 0% 0% no-repeat padding-box;
            border-radius: 27px;
            font: normal normal normal 18px/26px Comfortaa;
            color: #FFFFFF;
        }
        @media (max-width:768px){
            top: 520px;
            left: 190px;
        }
        @media (max-width:576px){
            top: 390px;
        }
    }
}
.footer{
    p{
        padding: 16px 0 16px 0;
        text-align: center;
        background: #F5F5F5 0% 0% no-repeat padding-box;
    }
}